
<header class="navbar navbar-static-top bs-docs-nav" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse"
                    data-target=".bs-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">前端文档</a>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/">基本设定</a>
                </li>
                <li>
                    <a href="/layouts/">常用 CSS 样式</a>
                </li>
                <li>
                    <a href="/components/">组件</a>
                </li>
                <li>
                    <a href="/plugins/">JavaScript 插件</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="http://git.bestapp.us/root/" target="_blank">GitServer</a></li>
                <li><a href="http://www.trello.com/" target="_blank">Trello</a></li>
                <li><a href="http://git.bestapp.us/root/allinns/wikis/version-list" target="_blank">Versions</a></li>
            </ul>
        </nav>
    </div>
</header>
<div class="bs-docs-header">
    <div class="container">
        <h1>{{name}}</h1>
        <p>{{description}}</p>
    </div>
</div>